In [ ]:
# Create Database

In [1]:
from create_db import connect_db, create_db_tables
import pandas as pd

In [2]:
db=connect_db() #establish connection

In [8]:
db=create_db_tables(db) # create tables

In [9]:
db

Engine(postgresql://postgres:***@192.168.99.101:5432/postgres)

In [10]:
sql = """
SELECT tablename 
FROM pg_catalog.pg_tables 
WHERE schemaname='public'
"""

pd.read_sql(sql, con=db)

              tablename
0                 posts
1        poi_categories
2    points_of_interest
3  architectural_styles
4            architects

In [6]:
sql = """
SELECT * FROM points_of_interest 
LIMIT 3""" 
pd.read_sql(sql, con=db)

Empty DataFrame
Columns: [poi_id, name, build_year, demolished_year, address, latitude, longitude, source, external_url, details, image_url, heritage_status, current_use, poi_type]
Index: []

In [7]:
db.execute("""DROP TABLE points_of_interest""")
db.execute("""DROP TABLE poi_categories""")
db.execute("""DROP TABLE architectural_styles""")
db.execute("""DROP TABLE architects""")

In [ ]:
# sql='''INSERT INTO points_of_interest(name) VALUES ('Robert Grieg House') '''
# sql

In [ ]:
# sql='''INSERT INTO points_of_interest(name) VALUES ('{}') '''.format('other')
# sql

In [ ]:
# db.execute(sql)

In [ ]:
# db.execute('''INSERT INTO points_of_interest(name, build_year,demolished_year,
#         address,external_url,source,details) 
#         VALUES ('{}', {}, {}, '{}','{}', 'aco_buildings', '{}') '''.format(row["Name"], row['Completed'], 1900,row['Address'],row['Bld_link'],row['Notes']))

In [ ]:
# for index,row in df.iloc[0,:].iterrows():
#     print(row["Address"])

In [ ]:
# # Create our iris table
# db.execute("""CREATE TABLE IF NOT EXISTS iris (id int NOT NULL PRIMARY KEY,
#                 sepal_length float, sepal_width float, 
#                 petal_length float, petal_width float, species text)
#            """)  

# # insert a single value into the iris table
# db.execute("""INSERT INTO iris (id, sepal_length, sepal_width, petal_length, petal_width, species) 
#                 VALUES (0, 5.1, 3.5, 1.4, 0.2, 'setosa')
#             """)

In [ ]:
# # Read
# result_set = db.execute("SELECT * FROM iris")  
# for r in result_set:  
#     print(r)

In [ ]:
# for index, row in iris.loc[1:].iterrows():
#     db.execute('''INSERT INTO iris VALUES ({}, {}, {}, {}, {}, '{}') '''.format(index, row[0], row[1], row[2],row[3],row[4]))

In [ ]:
# result_set = db.execute("SELECT * FROM iris")  
# for r in result_set:  
#     print(r)

In [ ]:
# db.execute("""
# CREATE TABLE IF NOT EXISTS architectural_styles (poi_id int PRIMARY KEY,
#     style text
# )
# """)

In [ ]:
# db.execute("""
# CREATE TABLE IF NOT EXISTS architects (poi_id int PRIMARY KEY,
#     architect_name text
# )
# """)

In [ ]:
# db.execute("""
# CREATE TABLE IF NOT EXISTS poi_categories (poi_id int PRIMARY KEY,
#     category text
# )
# """)